<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
    <title>Visualizer</title>
    <script type="text/javascript"></script>

    
</head>
<body>
   
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome To Sorting Visualizer!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </nav>

  
  <div class="components-wrapper">

    <div class="options-selector">

        <div class="dropdown">
          <select id="sorting-ctrl" class="form-control">
            <option>Select a Sorting Algorithm</option>
            <option value="bubble_sort">Bubble Sort</option>
            <option value="insertion_sort">Insertion Sort</option>
            <option value="selection_sort">Selection Sort</option>
            <option value="shellsort">Shellsort</option>
            <!-- <option value="merge">Merge Sort</option>
            <option value="quick">Quick Sort</option>
            <option value="shell">Shell Sort</option> -->
          </select>
      
        </div>

        <div class="options">
          <div class="randomize-btn">
            <button id="rand_arr" onclick="canvas.displayNumsOnCanvas()">Randomize Array</button>
          </div>

          <label class="form-label" for="customRange1">Speed of Animation</label>
          
          <div class="range">
            <input type="range" class="form-range" min="100" max="2000"id="customRange1" />
          </div>

          <div class="button-container">
            <button id="btn" type="button">Sort Me</button>
          </div>
        </div>

    </div>

    <div class="flex-container"></div>
  </div> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    

    <script src="../Canvas.js"></script>
    <script src="../Delay.js"></script>
    <script type="module" src="../Sorting-Algos/Swap.js"></script>
    <script type="module" src="../Sorting-Algos/BubbleSort.js"></script>
    <script type="module" src="../Sorting-Algos/InsertionSort.js"></script>
    <script type="module" src="../Sorting-Algos/SelectionSort.js"></script>
    <script type="module" src="../Sorting-Algos/ShellSort.js"></script>
    <script type="module" src="../Animation.js"></script>
    <script src="../Options.js"></script>
    <!-- <script src="Delay.js"></script> -->
    <!-- <script src="./Sorting-Algos/BubbleSort.js"></script> -->
    <!-- <script src="Main.js"></script> -->
</body>
</html>

